
//foundry overrides
.window-app .window-content {
    background: url(/systems/twdu/assets/images/background.webp) no-repeat;
    background-size: cover;
}

.chat-message {
    background: url(/systems/twdu/assets/images/background.webp) no-repeat;
    background-size: cover;
}

img{
    border: none;
}