// widths
.w-100 { width: 100%; }

.w-150p { width: 150px; }
.w-200p { width: 200px; }
.w-250p { width: 250px; }
.w-300p { width: 300px; }


.justify {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}



// Margins

.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 0.75rem; }
.m-4 { margin: 1rem; }
.m-5 { margin: 1.25rem; }
.m-6 { margin: 1.5rem; }

// Padding
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.p-5 { padding: 1.25rem; }
.p-6 { padding: 1.5rem; }

// inline padding
.pi-0 { padding-inline: 0; }
.pi-1 { padding-inline: 0.25rem; }
.pi-2 { padding-inline: 0.5rem; }
.pi-3 { padding-inline: 0.75rem; }
.pi-4 { padding-inline: 1rem; }
.pi-5 { padding-inline: 1.25rem; }
.pi-6 { padding-inline: 1.5rem; }

// inline margin
.mi-0 { margin-inline: 0; }
.mi-1 { margin-inline: 0.25rem; }
.mi-2 { margin-inline: 0.5rem; }
.mi-3 { margin-inline: 0.75rem; }
.mi-4 { margin-inline: 1rem; }
.mi-5 { margin-inline: 1.25rem; }
.mi-6 { margin-inline: 1.5rem; }

