@use "../abstracts" as *;

// Force proper height
.app.sheet .editor {
  min-height: 55px;
  height: 100%;
}


.editor-content {
  padding: 0.5rem;
  min-height: 50px;
}





.notes {
  display: flex;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  flex: 1;

  
}

.full-size {
  display: block;
  padding: 0;

  label {
      display: block;
      border-bottom: 1px solid red;
      padding: 0.2rem 0.5rem;
  }

  .editor {
      height: 250px;

      &-content {
          padding: 0 0.5rem;
      }
  }
}

.label{
  font-family: 'Nu Gothic', sans-serif;
}