@use "../abstracts" as *;

// Force proper height
.app.sheet .editor {
  min-height: 55px;
  height: 100%;
}


.editor-content {
  padding: 0.5rem;
  min-height: 50px;
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
  background: $header-bg-2;
  color: $neutral-1;
  border-radius: 0;
  border: 2px solid $highlight-2;
  border-image: url('/systems/twdu/assets/images/box_not_checked.png') 10 stretch;
  
}


.notes {
  display: flex;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  flex: 1;

  
}

.full-size {
  display: block;
  padding: 0;

  label {
      display: block;
      border-bottom: 1px solid red;
      padding: 0.2rem 0.5rem;
  }

  .editor {
      height: 250px;

      &-content {
          padding: 0 0.5rem;
      }
  }
}


.tox.tox-tinymce{
  min-height: 250px;
}

.label{
  font-family: 'Nu Gothic', sans-serif;
}



.show-details:hover{
  cursor: pointer;
}

.rollable:hover{
  text-shadow: 1px 1px 2px $highlight-1;
  cursor: pointer;
}

.header{
  font-family: 'Nu Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: $header-bg-2;
}

.subheader{
  background-color: $header-bg-3;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Nu Gothic', sans-serif;
}

.subsubheader{
  background-color: $header-bg-4;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Nu Gothic', sans-serif;
}

.group{
  border: 2px solid $highlight-2;
  border-image: url('/systems/twdu/assets/images/box_not_checked.png') 10 repeat;
}

.group-header{
  background: $neutral-1;
  color: $neutral-3;
  font-family: 'Nu Gothic', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  
}

.skill:last-child{
  border-bottom: none;

}

.walker{
  height: 50px;
  text-align: center;
  padding: 20px;
  font-family: 'Ash', sans-serif;
  text-transform: uppercase;
  text-shadow: $header-bg-3 1px 0 10px;
  font-size: 1.6rem;
  color: transparent;
  background-image: url(/systems/twdu/assets/images/walkers.png);
  background-clip: text;
  -webkit-background-clip: text;
}

.roll-damage{
  text-align: center;
  font-family: 'Nu Gothic', sans-serif;
  font-size: .9rem;
  margin: 10px;
  
}

.issue:nth-child(even),
.critical:nth-child(even), 
.weapon:nth-child(even), 
.armor:nth-child(even),
.gear:nth-child(even),
.tiny:nth-child(even),
.name:nth-child(even),
.project:nth-child(even){
  background-color: $header-bg-3;
}

.window-app, .window-app .window-content{
  color: $header-1
}


.twdu.threat-level-display{
  margin: -8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.threat-count {
  font-family: 'Nu Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $header-bg-2;
  border: 2px solid $highlight-2;
  border-image: url('/systems/twdu/assets/images/box_not_checked.png') 10 stretch;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.radio-group{
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.radio-group input{
    position: absolute;
    top: .25rem;
  right: 0;
    opacity: 0;
    cursor: pointer;
  }

 .radio-group input:checked ~ .radio {
    background-color: $highlight-2;
    border: 2px solid $highlight-2;
  }

 .radio-group input:checked ~ .radio:after {
    display: block;
  }

.radio-group  .radio:after {
    top: .125rem;
   left: .125rem;
   width: 8px;
   height: 8px;
   border-radius: 50%;
 }


.radio-group:hover input ~ .radio {
  background-color: $header-1;
}

.radio {
  position: absolute;
  top: .25rem;
  right: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: $header-bg-2;
  border: 2px solid $highlight-2;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-dark{
  background-color: transparent;
  background-image: url('/systems/twdu/assets/images/sidebar_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: -8px;
  color: white;
}

 // hardset color

 .color-h0{
   color: $header-0 !important; 
 }

