<div class="container flex-row">
  <div class="flex-col w-100">
    <h3>{{localize "twdu.notes"}}</h3>
    <div class="full-size">
      {{editor notesHTML target="system.notes.value" button=true owner=owner editable=editable }}
    </div>
  </div>
</div>