<div class="inv">

  <div class="weapons">
    <h3>Weapons</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">Icon</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
  </div>
  <div class="armor">
    <h3>Armor</h3>
        <div class="flex-col">
         <div class="group-header">
          <span class="icon">Icon</span>
          <span class="group-name">Name</span>
          <span class="group-qty">Qty</span>
          <span class="group-weight">Weight</span>
          <span class="bonus">Bonus</span>
          <span class="equip">Equip/Store</span>
         </div>
        </div>
  <div class="gear">
    <h3>Gear</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">Icon</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
    </div>
  </div>
</div>