<div class="inv">
    <h3>Equiped Gear</h3>
    <div class="gear">
        Gear List
    </div>
    <div class="weapons">
        Weapons List
    </div>
    <div class="armor">
        Armor List
    </div>
    <div class="stored">
        Stored Gear List
    </div>  
</div>