<div class="notes-container">

  <h3>{{localize "twdu.notes"}}</h3>
  <div class="notes full-size">
     {{editor notesHTML target="system.notes.value" button=true owner=owner editable=editable }}


   
  </div>
</div>