<div class="notes-container">

  <h3>{{localize "twdu.notes"}}</h3>
  <div class="notes">
    {{editor
      notesHTML
      target="system.notes"
      button=true
      editable=editable
      engine="prosemirror"
      collaborate=false
    }}
  </div>
</div>