<div class="container flex-row">
  <div class="flex-col w-100">
    <div class="full-size">
      {{editor notesHTML target="system.notes.value" button=true owner=owner editable=editable engine="prosemirror" collaborate=false  }}
    </div>
  </div>
</div>