$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$neutral-1: hsl(50, 14%, 9%);
$neutral-2: hsl(53, 14%, 75%);
$neutral-3: hsl(53, 10%, 68%);
$neutral-4: hsl(0, 0%, 27%);

$highlight-1: hsl(353, 45%, 30%);
$highlight-2: hsl(355, 53%, 31%);
$highlight-3: hsl(353, 24%, 65%);

$shadow-1: hsla(353, 45%, 30%, 0.3);


$green-1: hsl(141, 65%, 35%);



$header-1: hsla(16, 46%, 46%, 0.214);
$header-2: hsla(16, 57%, 63%, 0.116);