$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$neutral-1: hsl(50, 14%, 9%);
$neutral-2: hsl(53, 14%, 75%);
$neutral-3: hsl(53, 10%, 68%);
$neutral-4: hsl(0, 0%, 27%);

$highlight-1: hsl(353, 45%, 30%);
$highlight-2: hsl(355, 53%, 31%);
$highlight-3: hsl(353, 24%, 65%);
$highlight-4: hsl(353, 24%, 75%);
$highlight-5: hsl(353, 24%, 85%);


$shadow-1: hsla(353, 45%, 30%, 0.3);
$shadow-2: hsla(353, 45%, 30%, 0.5);
$shadow-3: hsla(353, 45%, 30%, 0.7);
$shadow-4: hsla(353, 45%, 30%, 0.9);


$green-1: hsl(141, 65%, 35%);
$green-2: hsl(141, 65%, 45%);
$green-3: hsl(141, 65%, 55%);
$green-4: hsl(141, 65%, 65%);
$green-5: hsl(141, 65%, 75%);


$header-1: hsl(57, 15%, 26%);
$header-2: hsl(57, 15%, 55%);

$header-bg-1: hsla(0, 13%, 29%, 0.342);
$header-bg-2: hsla(16, 13%, 29%, 0.171);