$white: #fff;
$black: #000;

$neutral-1: #191813;
$neutral-2: #c9c7b8;
$neutral-3: #b5b3a4;
$neutral-4: #444;

$highlight-1: rgb(112, 43, 51);
$highlight-2: rgb(122, 37, 44);
$highlight-3: rgb(188, 146, 151);

$shadow-1: rgba(112, 43, 51, 0.3);


$green-1: rgb(32, 149, 73);



$header-1: rgba(170, 92, 63, 0.214);
$header-2: rgba(214, 136, 107, 0.116);