//FONTS

@font-face {
    font-family: 'Blue Highway';
    src: url('../assets/fonts/BlueHighway-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Ash';
  src: url('../assets/fonts/DCC - Ash.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../assets/fonts/impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../assets/fonts/MinionPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Minion Pro';
    src: url('../assets/fonts/MinionPro-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Nu Gothic';
    src: url('../assets/fonts/nu_century_gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Sabon';
    src: url('../assets/fonts/SabonLTStd-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Zapf Dingbats';
    src: url('../assets/fonts/ZapfDingbatsStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.ash-font {
  font-family: 'Ash', sans-serif;
  font-weight: bolder;
}
