<form class="{{cssClass}} group" autocomplete="off" style="margin: -4px;">
    NPC sheet

    Name
    background
    description
    issues1

    rollable skills with radio buttons to choose base, trained, expert, master

    gear and Weapons


</form>