@font-face {
  font-family: "Blue Highway";
  src: url("../assets/fonts/BlueHighway-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Ash";
  src: url("../assets/fonts/DCC - Ash.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Minion Pro";
  src: url("../assets/fonts/MinionPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Minion Pro";
  src: url("../assets/fonts/MinionPro-it.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Nu Gothic";
  src: url("../assets/fonts/nu_century_gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sabon";
  src: url("../assets/fonts/SabonLTStd-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Zapf Dingbats";
  src: url("../assets/fonts/ZapfDingbatsStd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.ash-font {
  font-family: "Ash", sans-serif;
  font-weight: bolder;
}

.window-app .window-content {
  background: url(/systems/twdu/assets/images/background.webp) no-repeat;
  background-size: cover;
}

.chat-message {
  background: url(/systems/twdu/assets/images/background.webp) no-repeat;
  background-size: cover;
}

a:hover {
  text-shadow: 1px 1px 2px hsla(353, 45%, 30%, 0.3);
}

#sidebar .tabs {
  color: hsl(53, 10%, 68%);
}
#sidebar .tabs a:hover {
  text-shadow: 1px 1px 3px black;
}

.tabs {
  background-color: hsla(36, 11%, 53%, 0.3);
  font: 1.5em "Ash", sans-serif;
  color: hsl(57, 15%, 26%);
  text-transform: uppercase;
  font-weight: normal;
}
.tabs .item.active {
  color: hsl(353, 45%, 30%);
  text-shadow: 1px 1px 2px hsla(353, 45%, 30%, 0.3);
  background-color: hsla(36, 11%, 43%, 0.5);
}

img {
  border: none;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-family: "Ash", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: hsl(57, 15%, 26%);
  background-color: hsla(36, 11%, 43%, 0.5);
}

.grid {
  display: grid;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

.five-col {
  grid-template-columns: repeat(5, 1fr);
}

.six-col {
  grid-template-columns: repeat(6, 1fr);
}

.col-60-40 {
  grid-template-columns: 60% 40%;
}

.span-2 {
  grid-column: span 2;
}

.span-4 {
  grid-column: span 4;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-med {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.w-100 {
  width: 100%;
}

.w-150p {
  width: 150px;
}

.w-200p {
  width: 200px;
}

.w-250p {
  width: 250px;
}

.w-300p {
  width: 300px;
}

.justify {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.app.sheet .editor {
  min-height: 55px;
  height: 100%;
}

.editor-content {
  padding: 0.5rem;
  min-height: 50px;
}

.notes {
  display: flex;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  flex: 1;
}

.full-size {
  display: block;
  padding: 0;
}
.full-size label {
  display: block;
  border-bottom: 1px solid red;
  padding: 0.2rem 0.5rem;
}
.full-size .editor {
  height: 250px;
}
.full-size .editor-content {
  padding: 0 0.5rem;
}

.label {
  font-family: "Nu Gothic", sans-serif;
}/*# sourceMappingURL=twdu.css.map */