@use "../abstracts" as *;

//foundry overrides
:root {
  --fa-display: inherit;

}

.sidebar {
  float: left;
  color: hsl(0, 0%, 100%);
  width: 60%;
  background: $header-1;
  padding-block: 1rem;
  padding-left: 1.2rem;
  padding-right: 2rem;
  margin-inline: 0.5rem;
}

.directory .directory-header .header-search input {
  color: $header-1;
}

a.content-link {
  background: unset;
  border: none;
  text-indent: unset;
}

.chat-message .message-header .flavor-text {
  color: $header-1;
  
}

//pause spinner

#pause {
  background: none;
}
#pause > img {
  width: 200px;
  height: auto;
  top: -50px;
  left: calc(50% - 100px);
  opacity: 1;
}
#pause > figcaption {
  font-family: "Nu Gothic", sans-serif;
  font-size: var(--font-size-48);
  text-shadow: 0px 3px 5px rgb(0, 0, 0);
}

.fa-spin {
  animation: none;
}

.category-tab {
  color: $neutral-2;
}

input[type="search"] {
  color: $neutral-2;
  background: $neutral-4;
}

.app {
  background: url(/systems/twdu/assets/images/denim075.png) repeat;
}

.twdu .sheet .actor{
  width: min(100%, 900px);
}

.window-app .window-content {
  background: url(/systems/twdu/assets/images/background.webp) no-repeat;
  background-size: cover;

}


.intro{
  filter: saturate(0.5);
}

.chapter-header-text h1{
  padding: 0 !important; 

  .flavor-text{
    text-shadow: $black 1px 1px 2px;
    filter: drop-shadow(1px 1px 2px $black);
  }
  
}



.chat-message {
  background: url(/systems/twdu/assets/images/background.webp) no-repeat;
  background-size: cover;
}

.window-title,
.header-button {
  color: $neutral-3;
}

a:hover {
  text-shadow: 1px 1px 2px $shadow-1;
}

#sidebar h2 {
  color: $neutral-3;
}

#sidebar .tabs {
  color: $neutral-3;

  a:hover {
    text-shadow: 1px 1px 1px black;
  }
}

.sheet nav.sheet-tabs {
  margin: 0px;
  border-top: 1px solid $highlight-1;
  border-bottom: 1px solid $highlight-1;
  border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
    stretch;
}

.tabs {
  background-color: $header-bg-2;
  font: 1.5em "Ash", sans-serif;
  color: $header-1;
  text-transform: uppercase;
  font-weight: normal;

  .item.active {
    color: $neutral-1;
    text-shadow: 1px 1px 2px $shadow-1;
    background-color: $header-bg-1;
    border-right: 1px solid $highlight-1;
    border-left: 1px solid $highlight-1;
    border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
      stretch;
  }
}

img {
  border: none;
}

h1.input {
  margin-bottom: 0px;
  padding-block: .25rem;
 
}

h2.header {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

// headings

h1 {
  font-family: "Ash", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border: none;
 
  input{
    height: 2rem !important;
  }

}

h2 {
  font-family: "Ash", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: $header-1;
  border: none;
}

// form elements

input[type="text"] {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid $header-1;
  border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
    stretch;
  background-color: transparent;
  color: $header-0;


  &:hover {
    cursor: pointer;
  }

  &.box {
    min-width: 50px;
    border: 2px solid $highlight-2;
    border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
      stretch;
  }
}

textarea {
  border-radius: 0;
  border: 2px solid $highlight-2;
  border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
    stretch;
  background-color: transparent;
  color: $header-1;
  font-family: "Nu Gothic", sans-serif;
}

select {
  border: 1px solid $highlight-2;
  border-image: url("/systems/twdu/assets/images/box_not_checked.png") 10
    stretch;
  border-radius: 0;
  font-family: "Nu Gothic", sans-serif;
  color: $header-1;
  background: transparent;
}

select:focus {
  box-shadow: 0 0 5px $highlight-2;
}

option,
optgroup {
  color: $header-1;
  background: $header-bg-2;
  border-radius: 0;
}

.ds-1 {
  box-shadow: 0.25rem 0.25rem 0 $header-bg-1;
}

.ds-1:hover {
  box-shadow: 0.125rem 0.125rem 0 $header-bg-1;
}

.roll-fields {
  p {
    margin: 0px;
  }

  .border-bottom {
    border-bottom: 2px dotted $white;
    border-image: none;
  }

  h2 {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: $white;
    font-family: "Ash", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  h4 {
    margin: 0;
    margin-bottom: 0.2rem;
  }

  select {
    border: 1px solid white;
    border-radius: 0;
    font-family: "Nu Gothic", sans-serif;
    color: white;
  }

  select:focus {
    box-shadow: 0 0 5px $highlight-2;
  }

  .subheader {
    background-color: transparent;
  }

  .subtotal {
    background-color: $header-bg-3;
    color: $white;
  }

  input[type="text"] {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $header-1;
    border-image: url("/systems/twdu/assets/images/white_box_not_checked.png")
      10 stretch;
    background-color: transparent;
    color: white;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
    }

    &.box {
      min-width: 50px;
      border: 2px solid $highlight-2;
      border-image: url("/systems/twdu/assets/images/white_box_not_checked.png")
        10 stretch;
    }
  }

  .group {
    border: 2px solid white;
    border-image: url("/systems/twdu/assets/images/white_box_not_checked.png")
      10 repeat;
  }
}

.dialog .dialog-buttons button.default,
.dialog .dialog-buttons button {
  background: $neutral-3;
  box-shadow: 0.25rem 0.25rem 0 $header-bg-1;
  color: $header-1;
  border-radius: 0;
  border: 1px solid $highlight-1;
}

button,
.dialog-buttons {
  background: $neutral-3;
  box-shadow: 0.25rem 0.25rem 0 $header-bg-1;
  color: $header-1;
  border-radius: 0;
  border: 1px solid $highlight-1;
}

.dialog-buttons button:hover,
.dialog-buttons button.default:hover {
  box-shadow: 0.125rem 0.125rem 0 $header-bg-1;
  background-color: $neutral-2;
}

.profile-img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 1/1;
  padding: 5px;
}


.sheet.journal-entry .scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 0.5rem;
  overflow: auto auto;
}
