@use "../abstracts" as *;

//foundry overrides
.window-app .window-content {
    background: url(/systems/twdu/assets/images/background.webp) no-repeat;
    background-size: cover;
}

.chat-message {
    background: url(/systems/twdu/assets/images/background.webp) no-repeat;
    background-size: cover;
}

a:hover {
    text-shadow: 1px 1px 2px $shadow-1;
}

#sidebar .tabs {
    color: $neutral-3;
    
    a:hover {
        text-shadow: 1px 1px 1px black;
    }
}

.tabs{
    background-color: $header-bg-2;
    font: 1.5em 'Ash', sans-serif;
    color: $header-1;
    text-transform: uppercase;
    font-weight: normal;

    .item.active{
        color: $highlight-1;
        text-shadow: 1px 1px 2px $shadow-1;
        background-color: $header-bg-1;
    }
}

img{
    border: none;
}


// Margins

.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 0.75rem; }
.m-4 { margin: 1rem; }
.m-5 { margin: 1.25rem; }
.m-6 { margin: 1.5rem; }

// Padding
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.p-5 { padding: 1.25rem; }
.p-6 { padding: 1.5rem; }

// headings

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-family: 'Ash', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    color: $header-1;
    background-color: $header-bg-1;
}